# This is a basic workflow to help you get started with Actions

name: Full-Stack CI/CD pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # ============================================
  # Job 1: Test Backend
  # ============================================
  test-backend:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository 
      - name: Checkout code 
        uses: actions/checkout@v5

      # 2. Setup a Node.js environment
      - name: Set up Node 24
        uses: actions/setup-node@v5
        with: 
          node-version: 24
      
      # 3. Install dependencies
      # ** ensure lint and related scripts are setup locally
      - name: Install Backend Dependencies
        working-directory: ./backend
        run: npm ci 

      - name: Lint Backend
        working-directory: ./backend
        run: npm run lint

      - name: Test Backend
        working-directory: ./backend
        run: npm test

  # ============================================
  # Job 2: Test Frontend
  # ============================================
  test-frontend:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js 24
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm ci 

      - name: Lint frontend
        working-directory: ./frontend
        run: npm run lint

      - name: Test frontend
        working-directory: ./frontend
        run: npm test -- --run

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build
  # ============================================
  # Job 3: Build and Push Docker Images
  # ============================================
  docker-build-and-push:
    needs: [test-backend, test-frontend]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      # ============================================
      # Build docker images from your Dockerfiles with the tagged name
      # ============================================
      - name: Build backend Docker Image and Tag
        run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/deploy-web-app-backend:latest ./backend

      - name: Build frontend Docker Image
        run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/deploy-web-app-backend:latest ./frontend

      # 6. Optional: Login to Docker Hub and push Docker image
      # ** Uncomment if you want to push the Docker image to Docker Hub
      # ** Ensure you have added DOCKER_HUB_USERNAME and DOCKER_HUB_TOKEN secrets in your Github repository
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with: 
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # ============================================
      # Push docker images
      # - Docker will check existing images and upload NEW or CHANGED layers
      # - Then, it will update the manifests to make the image available on Docker Hub
      # ============================================

      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/deploy-web-app-backend:latest
        
      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/deploy-web-app-backend:latest
        
        
